#__jobler__menu_menu {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    background: var(--primary-bg);
    box-shadow: 2px 2px 4px var(--primary-shadow);
}

.__jobler__menu_title {
    width: 100%;
    height: 7.5rem;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.__jobler__menu_logo {
    width: 13.91rem;
    height: 6.25rem;
    position: relative;
    top: -10px;
    left: -10px;
}

.__jobler__menu_toggle-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
}
