#menu_menu {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    background: var(--primary-bg);
    box-shadow: 2px 2px 4px var(--primary-shadow);
    margin-top: 25px;
}

.menu_title {
    width: 100%;
    height: 7.9rem;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #000000;
}

.menu_logo {
    width: 13.91rem;
    height: 6.3rem;
    position: relative;
    top: -10px;
    left: -10px;
}

.menu_toggle-container {
    position: absolute;
    bottom: 0.3rem;
    width: 100%;
    height: 3.8rem;
}

#job-list_container {
    width: 100%;
    height: 36rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-width: 1px 0;
    border-style: solid;
    background-color: var(--primary);
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 1);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

#job-list_job-table {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
    overflow-y: hidden;
}
