:root {
    --primary: #c2e7f3;
    --primary-light: #f4f6ff;
    --primary-dark: #a3c1cc;
    --primary-disabled: #64787e;
    --secondary: #376fa6;
    --secondary-light: #5082b1;
    --secondary-disabled: #3c5065;
    --primary-bg: linear-gradient(45deg, var(--primary), var(--primary-light));
    --primary-bg-flipped: linear-gradient(45deg, var(--primary-light), var(--primary));
    --primary-play-button-paused: #a5d8a5;
    --primary-play-button-hovered: #e1b0be;
}
