.search-engine-icon_icon {
    padding: 0.3rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    color: var(--secondary);

    &.indeed-logo-container {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: var(--secondary-dark);
        padding-right: 5px;

        .indeed {
            color: var(--secondary-dark);
            position: relative;
            left: -1px;
            top: -2px;
        }
    }

    &.linkedin-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border: 1px solid var(--secondary-light);
        color: var(--secondary-light);
        padding: 5px;
        height: 4rem;
        width: 4rem;

        .linkedin {
            color: #0a66c2;
            border: 0;
            width: 3rem;
            height: 3rem;
        }
    }

    &.ziprecruiter-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-color: #adda1e;
        color: #0a66c2;
        padding: 5px;
        height: 5rem;
        width: 5rem;

        .ziprecruiter {
            background: #f0f0f3;
            border: 0;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
