.job-list_item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--primary-dark);
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;

    .job-list_name,
    .job-list_title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 0.8rem;
        background: var(--primary-light);
        text-transform: capitalize;
    }

    .job-list_name {
        width: 33%;
    }

    .job-list_title {
        flex: 1;
    }

    .job-list_delete-button-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.2rem;
        margin-left: 0.8rem;
        margin-right: 0.8rem;

        .job-list_delete-button-framer {
            display: flex;
            height: 2.2rem;
            width: 2.2rem;
            justify-content: center;
            align-items: center;
            background: var(--primary-light);
            cursor: pointer;
            border-radius: 50%;

            &:hover {
                background-color: var(--secondary);
                color: var(--primary-light);;
            }
        }
    }
}

#job-list_container {
    width: 100%;
    height: 34.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--secondary-light);
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: 1.2rem;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 1);
        border-radius: 50%;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.job-list_job-table {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
    overflow-y: hidden;
    border-collapse: collapse;
}

