.job-list-options_container {
    position: relative;
    margin-top: 0.8rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.job-list-options_applied-button,
.job-list-options_next-button {
    position: relative;
    top: -1px;
    width: 100%;
    height: 4.5rem;
    padding: 0;
    font-weight: 550;
    font-size: 2rem;
    border-radius: 1rem;

    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));

    &:hover {
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3)) brightness(1.025);
    }
    &:active {
        transform: translateY(1px);
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3)) brightness(0.9);
    }

    span {
        line-height: 5rem;
        position: relative;
        bottom: 2px;
    }
}

.job-list-options_applied-button {
    color: var(--primary-light);
    background: var(--secondary);
}

.job-list-options_next-button {
    color: var(--secondary);
    background: var(--primary-light);
}

.job-list-options_next-button-icon {
    height: 2rem;
    display: inline;
    position: relative;
    margin-left: 0.5rem;
}
