.filters_container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.filters_toggle-container {
    height: 6rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 12px;
    margin-bottom: 1.2rem;
}

.filters_item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--primary-dark);
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;

    &:last-child {
        border-width: 1px 0;
        margin-bottom: 0;
    }

    .filters_name {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 0.8rem;
        background: var(--primary-light);
        text-transform: capitalize;
    }

    .filters_delete-button-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.2rem;
        margin-left: 0.8rem;
        margin-right: 0.8rem;

        .filters_delete-button-framer {
            display: flex;
            height: 2.2rem;
            width: 2.2rem;
            justify-content: center;
            align-items: center;
            background: var(--primary-light);
            cursor: pointer;
            border-radius: 50%;

            &:hover {
                background-color: var(--secondary);
                color: var(--primary-light);
            }
        }
    }
}

.filters-category-button_container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: start;
    justify-content: center;
}

.filters-category-button_button {
    position: relative;
    flex: 1;
    height: 3rem;
    border: 1px solid var(--primary-dark);
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: 0 1px 2px var(--secondary-dark);

    &:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &.text-filter {
        &.on {
            background-color: var(--secondary);
            color: var(--primary-light);
        }

        &:not(.on) {
            background: var(--primary-bg);
        }

        span {
            position: relative;
            left: 2px;
        }
    }

    &.title-filter {
        &.on {
            background-color: var(--secondary);
            color: var(--primary-light);
        }

        &:not(.on) {
            background: var(--primary-light);
        }
    }

    &.company-filter {
        span {
            position: relative;
            right: 2px;
        }

        &.on {
            background-color: var(--secondary);
            color: var(--primary-light);
        }

        &:not(.on) {
            background: var(--primary-bg-flipped);
        }
    }

    &:first-of-type {
        border-bottom-left-radius: 12px;
    }

    &:last-of-type {
        border-bottom-right-radius: 12px;
    }

    &:active {
        transform: translateY(1px);
    }
}

.add-filter-button_container {
    bottom: -8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6rem;
    gap: 0.2rem;
}

.add-filter-button_input-container {
    position: relative;
    width: 100%;

    button {
        position: absolute;
        right: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-filter-button_submit-button {
            height: 2rem;
            width: 2rem;
            color: var(--secondary);
        }
    }
}

.add-filter-button_input {
    background-color: var(--primary-light);
    color: var(--secondary);
    text-align: center;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem; /* space for button */
    font-size: 1rem;
}

.add-filter-button_input,
.add-filter-button_button {
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 1.2rem;
    box-shadow: 0 1px 2px var(--secondary-dark);
}

.add-filter-button_button {
    background-color: var(--secondary);
    cursor: pointer;
    color: var(--primary-light);
}

.add-filter-button_icon {
    height: 2rem;
}

.filters_job-list-container {
    position: relative;
    width: 100%;
    height: 27rem;
    background-color: var(--primary);
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1.2rem;
    box-shadow: 0 1px 2px var(--secondary-dark);
    border-radius: 12px;
}

.filters_job-table {
    display: flex;
    flex-direction: column;
    height: 27rem;
    overflow: auto;
    border-bottom: 1px solid var(--primary-dark);
    margin: 0 0 1px 0;
    border-collapse: collapse;
    background: var(--secondary);
    border-radius: 1.2rem;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 1);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}
