.__jobler__play_options-container {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    background: lightblue;
}

.__jobler__play_play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8rem;
    width: 8rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    font-weight: 700;
    margin: 0 auto;
    border: none;
    transition: background-color 0.5s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

    &:hover {
        filter: brightness(0.95);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    &.paused {
        background-color: #a5d8a5;

        &:hover {
            background-color: #e1b0be;
        }
    }

    &:not(.paused) {
        background-color: #b2df65;

        &:hover {
            background-color: #94c83a;
        }
    }

    .playIcon {
        width: 75%;
        height: 75%;
    }
}

.__jobler__play_icon {
    padding: 0.25rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;

    &.indeed-logo-container {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-color: #000000;
        padding-right: 5px;

        .indeed {
            color: #000000;
            position: relative;
            left: -1px;
            top: -2px;
        }
    }

    &.linkedin-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border: 1px solid #0a66c2;
        color: #0a66c2;
        padding: 5px;
        height: 4rem;
        width: 4rem;

        .linkedin {
            color: #0a66c2;
            border: 0;
            width: 3rem;
            height: 3rem;
        }
    }

    &.ziprecruiter-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-color: #adda1e;
        color: #0a66c2;
        padding: 5px;
        height: 5rem;
        width: 5rem;

        .ziprecruiter {
            background: #f0f0f3;
            border: 0;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
