.play_options-container {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    background: lightblue;
}

.play_play-button {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 1px 2px 0px var(--secondary-light);
    background-color: var(--primary);
    cursor: pointer;

    &:active {
        box-shadow: 0 1px 1px 0 var(--secondary-light);
    }
}

.play_icon {
    padding: 0.3rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    color: var(--secondary);
}

.play_load-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8rem;
    min-height: 8rem;
    width: 8rem;
    min-width: 8rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    font-weight: 700;
    margin: 0 auto;
    border: none;
    transition: background-color 0.5s ease;

    &:active {
        transform: translateY(1px);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    &:hover:not(.recently-clicked) {
        background-color: var(--primary-play-button-hovered);
        opacity: 0.5;
    }
}

.play_pause-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
